<?xml version="1.0"?>

<robot name="cats" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find cats)/urdf/body/body.urdf.xacro"/>
  <xacro:include filename="$(find cats)/urdf/wheel/wheel.urdf.xacro"/>
  <xacro:include filename="$(find cats)/urdf/sensors/lrf.urdf.xacro"/>
  <xacro:include filename="$(find cats)/urdf/sensors/camera.urdf.xacro"/>
  <xacro:include filename="$(find cats)/urdf/caster/caster.urdf.xacro"/>

  <!-- Link & Joint -->
  <link name="base_link"/>

  <xacro:body parent="base_link">
    <origin xyz="0 0 0.1245"/>
  </xacro:body>

  <xacro:wheel prefix="right" parent="body_link">
    <origin xyz="0.0 -0.217 0.0" rpy="0 0 ${M_PI/2}"/>
    <axis xyz="1 0 0"/>
  </xacro:wheel>

  <xacro:wheel prefix="left" parent="body_link">
    <origin xyz="0.0 0.217 0.0" rpy="0 0 ${-M_PI/2}"/>
    <axis xyz="-1 0 0"/>
  </xacro:wheel>

  <xacro:caster prefix="right" parent="base_link">
    <origin xyz="-0.3175 -0.140 0.050" rpy="0 0 0"/>
  </xacro:caster>

  <xacro:caster prefix="left" parent="base_link">
    <origin xyz="-0.3175 0.140 0.050" rpy="0 0 0"/>
  </xacro:caster>

  <xacro:hokuyo prefix="front" parent="body_link">
    <origin xyz="0.025 0 ${0.195-0.052}" rpy="${M_PI} 0 0"/>
  </xacro:hokuyo>

  <xacro:hokuyo prefix="rear" parent="base_link">
    <origin xyz="-0.239 0 0.2085" rpy="0 0 ${M_PI}"/>
  </xacro:hokuyo>

  <xacro:webcamera prefix="front" parent="base_link">
    <origin xyz="0.135 0 0.685" rpy="0 0 0"/>
  </xacro:webcamera>

  <xacro:webcamera prefix="right" parent="base_link">
    <origin xyz="0.135 -0.100 0.685" rpy="0 0 ${-M_PI/3}"/>
  </xacro:webcamera>

  <xacro:webcamera prefix="left" parent="base_link">
    <origin xyz="0.135 0.100 0.685" rpy="0 0 ${M_PI/3}"/>
  </xacro:webcamera>

  <!--xacro:include filename="$(find velodyne_description)/urdf/HDL-32E.urdf.xacro"/>
  <HDL-32E parent="base_link" name="velodyne" topic="/velodyne_points" hz="10" samples="220">
    <origin xyz="0.004135 0 0.81678" rpy="0 ${M_PI/12} 0" />
  </HDL-32E-->


  <!-- Transmission -->
  <xacro:wheel_trans prefix="right"/>
  <xacro:wheel_trans prefix="left"/>

  <!-- Gazebo -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/cats</robotNamespace>
    </plugin>
  </gazebo>
  <xacro:body_gazebo/>
  <xacro:wheel_gazebo prefix="right"/>
  <xacro:wheel_gazebo prefix="left"/>
  <xacro:caster_gazebo prefix="right"/>
  <xacro:caster_gazebo prefix="left"/>
  <xacro:hokuyo_gazebo prefix="front" min_rad="${-M_PI*0.75}" max_rad="${M_PI*0.75}" min_range="0.40" max_range="10"/>
  <xacro:hokuyo_gazebo prefix="rear" min_rad="${-M_PI*0.75}" max_rad="${M_PI*0.75}" min_range="0.40" max_range="10"/>
  <xacro:camera_gazebo prefix="front"/>
  <xacro:camera_gazebo prefix="right"/>
  <xacro:camera_gazebo prefix="left"/>

</robot>
