<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find cats)/urdf/common.xacro"/>
  <xacro:macro name="body" params="parent *joint_origin">
    <joint name="body_link_joint" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="body_link"/>
    </joint>

    <link name="body_link">
      <visual>
        <origin xyz="-0.174 0.0 -0.028585" rpy="${M_PI/2} 0 ${M_PI/2}"/>
        <geometry>
          <mesh filename="package://cats/meshes/STL/body.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.240 0 0.04025" rpy="0 0 0"/>
        <geometry>
          <box size="0.525 0.400 0.2755"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.240 0 0" rpy="0 0 0"/>
        <mass value="26"/>
        <inertia ixx="4.941" ixy="0" ixz="0" iyz="0" iyy="5.327" izz="0.849"/>
      </inertial>
    </link>

    <joint name="upper_body_joint" type="fixed">
      <parent link="body_link"/>
      <child link="upper_body_link"/>
      <origin xyz="-0.214 0 ${0.3255-0.245/2+0.020}" rpy="0 0 0"/>
    </joint>

    <link name="upper_body_link">
      <visual>
        <origin xyz="0 0 0.25" rpy="0 0 0"/>
        <geometry>
          <box size="0.4 0.3 0.5"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0.25" rpy="0 0 0"/>
        <geometry>
          <box size="0.4 0.3 0.5"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0.25" rpy="0 0 0"/>
        <box_inertial mass="15" depth="0.4" height="0.5" width="0.3"/>
      </inertial>
    </link>

    <joint name="pillar_joint" type="fixed">
      <parent link="upper_body_link"/>
      <child link="pillar_link"/>
      <origin xyz="0.01 0 0.5" rpy="0 0 0"/>
    </joint>

    <link name="pillar_link">
      <visual>
        <origin xyz="0 0 ${0.255/2}" rpy="0 0 0"/>
        <geometry>
          <box size="0.140 0.100 0.255"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 ${0.255/2}" rpy="0 0 0"/>
        <geometry>
          <box size="0.140 0.100 0.255"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 ${0.255/2}" rpy="0 0 0"/>
        <box_inertial mass="1" depth="0.140" height="0.255" width="0.100"/>
      </inertial>
    </link>
  </xacro:macro>

  <xacro:macro name="body_gazebo">
    <gazebo reference="body_link">
      <selfCollide>false</selfCollide>
      <mu1 value="0.05"/>
      <mu2 value="0.05"/>
    </gazebo>
    <gazebo reference="upper_body_link">
      <selfCollide>false</selfCollide>
      <mu1 value="0.05"/>
      <mu2 value="0.05"/>
    </gazebo>
    <gazebo reference="pillar_link">
      <selfCollide>false</selfCollide>
      <mu1 value="0.05"/>
      <mu2 value="0.05"/>
    </gazebo>

  </xacro:macro>

</robot>
