<?xml version="1.0"?>

<launch>
    <arg name="model" default="$(find cats)/robot/cats.urdf"/>

    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find cats)/world/D1.world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>

    <include file="$(find cats)/launch/control.launch"/>

    <node pkg="topic_tools" type="relay" name="cmd_vel_relay" args="/local_path/cmd_vel /cats/diff_drive_controller/cmd_vel">
    </node>

    <node pkg="topic_tools" type="relay" name="odom_relay" args="/cats/diff_drive_controller/odom /odom">
    </node>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model cats -param robot_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

</launch>
